td {
  padding: 10px;
  .description {
    width: 500px;
  }
  .title {
    width: 300px;
  }
  .button-col {
    max-width: 150px;
    min-width: 150px;
  }
}

.sale-price {
  color: darkgreen;
  font-weight: 600;
}


@media(max-width: 715px) {
  .optional-col {
    display: none;
  }
}
