.category-wrapper {
  display: flex;
  justify-content: start;
}

.side-nav-wrapper {
  flex-grow: 1;
  max-width: 270px;
  max-height: 750px;
}

.side-nav-wrapper h3 {
  margin: 10px;
  font-size: var(--subheader-text);
  font-weight: var(--regular-text);
  text-align: center;
}

.detail-wrapper {
  flex-grow: 2;
  margin: 10px;
  max-width: 1000px;
}

.horizontal-divider {
  margin: 10px 2%;
  border-left: solid 2px var(--background-dark-brown);
}

.table-toggle {
  margin: 10px 30px;
}
