section {
  width: 100%;
  min-height: 570px;
}
.featured-pet-banner {
  width: 100%;
  background-color: var(--background-dark-blue);
  color: var(--white);
  font-size: var(--header-text);
  text-align: center;
  padding: 20px;
  margin-bottom: 0;
}
