<div class="add-to-cart">
  <button
    appJlpButton
    aria-label="Remove one from cart"
    (click)="cartService.decrementCartItem(productId())"
  >-</button>
  <button
    appJlpButton
    [attr.aria-label]="addToCartMessage()"
    (click)="cartService.addCartItem(productId())"
  >
    <span aria-live="assertive">{{ buttonMessage()}}</span>
  </button>
  <button
    appJlpButton
    aria-label="Add one to cart"
    (click)="cartService.addCartItem(productId())"
  >+</button>
</div>
{{ templateRendered() }}
