<header class="site-header">
  <a
    class="home-logo"
    [routerLink]="['/' + ROUTE_TOKENS.home]"
    queryParamsHandling="merge"
    [queryParams]="{
      productId: null
    }"
  ><img
    alt="Home - Just like people pet boutique"
    [ngSrc]="logoUrl"
    width="300"
    height="111"
    priority
  /></a>
  <nav
    aria-label="Main"
  >
    <ul>
      <li>
        <a
          [routerLink]="[ '/' + ROUTE_TOKENS.home]"
          [queryParams]="{
            productId: null
          }"
          queryParamsHandling="merge"
          routerLinkActive="selected-item"
          ariaCurrentWhenActive="page"
          class="menu-option"
        >Home</a>
      </li>
      <li
        routerLinkActive="selected-item"
      >
        <button
          role="link"
          (click)="toggleMenu()"
          (keydown.escape)="selectCategory('none')"
          class="menu-option"
          [attr.aria-expanded]="showMenu"
        >Products
          <span
            [class.rotated-arrow-icon]="showMenu"
            class="arrow-icon"
          ></span></button>
        <ul
          [class.show-submenu]="showMenu"
          class="collapsible-content"
        >
          @if(showMenu) {
            @for(link of LINKS; track link.category){
              <li
                class="content-inner"
                routerLinkActive="selected-sub-item"
                ariaCurrentWhenActive="page"
              >
                <a
                  class="link"
                  [routerLink]="['/' + ROUTE_TOKENS.products, link.category]"
                  [queryParams]="{ productId: link.firstProduct }"
                  queryParamsHandling="merge"
                  (click)="selectCategory(link.category)"
                  (keydown.escape)="selectCategory('none')"
                >
                  {{ link.description }}
                </a>
              </li>
            }
          } @else {
              <li
              [routerLink]="['/' + ROUTE_TOKENS.products]"
              [queryParams]="{
                productId: null
              }"
              queryParamsHandling="merge"
              tabindex="-1"
            ></li>
          }
        </ul>
      </li>
      <li>
        <a
          [routerLink]="[ '/' + ROUTE_TOKENS.contact]"
          [queryParams]="{
            productId: null
          }"
          queryParamsHandling="merge"
          routerLinkActive="selected-item"
          ariaCurrentWhenActive="page"
          class="menu-option"
        >Contact</a>
      </li>
      @if(userService.loggedInUser()){
        <li>
          <span class="menu-placeholder">{{ userService.loggedInUser()?.name ?? '' }}</span>
          <button (click)="router.navigate(['/'], {
            queryParams: {user: null},
            queryParamsHandling: 'merge'
          })">Log Out</button>
        </li>
      } @else {
        <li>
          <input #name/>
          <button (click)="router.navigate(['/'], {
            queryParams: {user: name.value},
            queryParamsHandling: 'merge'
          })">Log In</button>
        </li>
      }
      <li>
        <a
          [routerLink]="[ '/' + ROUTE_TOKENS.cart]"
          routerLinkActive="selected-item"
          ariaCurrentWhenActive="page"
          queryParamsHandling="merge"
          [queryParams]="{
            productId: null
          }"
          class="menu-option"
        ><span class="total-items">{{ cartService.totalItems() }}</span>
        <img
          ngSrc="../../assets/images/cart-icon.png"
          alt="Shopping Cart"
          width="24"
          height="20"
        /></a>
      </li>
    </ul>
  </nav>
</header>
