.hero-message {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -40px;
  padding: 0 20px;
}

.hero-message .logo {
  align-items: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hero-message .title {
  font-size: var(--header-text);
  font-weight: var(--bold-text);
  text-align: center;
  margin: 0 0 18px 0;
  padding: 0;
  text-transform: none;
}

.hero-message .sub-title {
  text-align: center;
  margin: 0 0 18px 0;
  padding: 0;
}

.fun-text {
  font-size: 2rem;
  font-style: italic;
}
